body{ background: #ffffff; }

.object-cover{ -o-object-fit: cover; object-fit: cover; }

.bg-color3{ background: #F5F5F5; }
.border-color1{ border-color: #D1D5D8 !important; }
.shadow1{ -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15); box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15); }
.shadow2{ -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); }
.shadow3{ -webkit-box-shadow: 4px 6px 9px rgba(0, 0, 0, 0.25); box-shadow: 4px 6px 9px rgba(0, 0, 0, 0.25); }
.inset-shadow1{ -webkit-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25); box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25); }
.rounded1{ border-radius: 9px; }
.rounded2{ border-radius: 15px; }

.fw-medium{ font-weight: 500 !important; }

.link1{ font-size: 17px; font-weight: 500; color: #D18A00; }

.circle-icon1{ width: 50px; height: 50px; border-radius: 100px; border: 1px solid #808184; display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
.circle-icon1 svg,
.circle-icon1 img{ width: 29px; }

@media(max-width: 767px){
    .circle-icon1{ width: 35px; height: 35px; }
    .circle-icon1 svg,
    .circle-icon1 img{ max-width: 15px; }
}

/* main */
#main{ margin-top: -117px; padding-top: 117px; }

@media(max-width: 991px){
    #main{ margin-top: -80px; padding-top: 80px; }
}

@media(max-width: 767px){
    #main{ margin-top: -75px; padding-top: 75px; }
}

/* header */
#header{ -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15); box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15); }
#header .container{ max-width: 1825px; }
#header .logo img{ width: 137px; max-width: initial; }
#header .user-dashboard{ font-size: 22px; color: #808184; }
#header .user-block{ list-style: none; padding-right: 0px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-bottom: 0px; }
#header .user-block>li + li{ margin-right: 30px; }
#header .user-block .language{ font-size: 20px; }

@media(max-width: 991px){
    #header{ border-bottom-right-radius: 9px; border-bottom-left-radius: 9px; }
    #header .logo img{ width: 87px; }
    #header .user-block>li{ margin: 0px !important; }
    #header .user-block .user,
    #header .user-block .language{ display: none; }
}

/* navigation */
#sidebar{ z-index: 80; }
#main-navigation{ height: 100%; padding-top: 117px; padding-bottom: 0px; background: #D18A00; }
#main-navigation .inner-wrapper{ padding: 0px; }
#main-navigation .nav-header{ display: none; }
#main-navigation .menu > li{ margin-bottom: 0px;}
#main-navigation .menu > li > a{ font-size: 17px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; border-radius: 0px; padding: 18px 38px; background: #E19500; margin-bottom: 1px; pointer-events: all !important; }
#main-navigation .menu > li a:hover{ background: #1C1D21; color: #ffffff !important; }
#main-navigation .menu > li.active > a{ background: #1C1D21; }
#main-navigation .menu > li > a .icon{ min-width: 22px; margin-left: 13px; text-align: center; }
#main-navigation .menu > li > a .icon svg{ max-width: 22px; }
#main-navigation .menu > li ul li{ margin-bottom: 1px; }
#main-navigation .menu > li ul a{ font-size: 15px; padding: 10px 15px; padding-right: 70px; border-radius: 0px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; background: #E19500; }
#main-navigation .menu > li ul a .icon{ margin-left: 10px; }
#main-navigation .menu .icon{ min-width: 22px; text-align: center; width: auto; height: auto; line-height: 34px; background: transparent; }
#main-navigation .menu .icon svg{ max-width: 22px; }
#main-navigation .menu .icon svg path{ fill: currentColor; }
#main-navigation .copyright{ display: none; }

@media(max-width: 991px){
    #sidebar{ z-index: 99; width: 297px; background: #ffffff; }
    #main-navigation{ overflow-y: auto; padding-top: 0px; border-top-left-radius: 9px; background: transparent; }
    #main-navigation .nav-header{ padding: 50px 30px 30px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; background: #D18A00; position: relative; }
    #main-navigation .nav-header::after{ content: ''; width: 100%; height: calc(100% + 30px); position: absolute; right: 0px; top: 0px; z-index: -1; background: #D18A00; }
    #main-navigation .nav-header .user{ -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }
    #main-navigation .nav-header .avatar{ margin-bottom: 12px; display: block; }
    #main-navigation .nav-header .avatar img{ width: 70px; height: 70px; border: 1px solid #ffffff; border-radius: 200px; }
    #main-navigation .nav-header .name{ font-size: 20px; margin-bottom: 0px; }
    #main-navigation .nav-header .language{ color: #ffffff; }
    #main-navigation .nav-header .language svg{ margin-left: 4px; }
    #main-navigation .nav-header .language:hover{ color: #1C1D21; }
    #main-navigation .nav-header .language:hover svg path{ fill: #1C1D21; }
    #main-navigation .inner-wrapper{ overflow-y: visible; height: auto; border-top-left-radius: 9px; overflow: hidden; }
    #main-navigation .menu > li{ border-bottom: 1px solid #E8E8E8; }
    #main-navigation .menu > li:first-child > a{ padding-top: 27px; }
    #main-navigation .menu > li a{ padding: 16px 33px; margin-bottom: 0px; background: transparent; color: #1C1D21; }
    #main-navigation .menu > li ul li{ margin-bottom: 0px; }
    #main-navigation .menu > li ul a{ background: transparent; }
    #main-navigation .menu .icon{ min-width: 22px; text-align: center; }
    #main-navigation .menu > li.active a,
    #main-navigation .menu > li a:hover{ background: #1C1D21; color: #ffffff !important; }
    #main-navigation .copyright{ display: block; margin-top: auto; padding: 40px 30px 30px; }
    #main-navigation .copyright p{ margin-bottom: 0px; font-size: 11px; color: #808184; }
}

.open-menu-btn{ border: 1px solid #D9D9D9; border-radius: 6px; width: 36px; height: 34px; }
.close-menu-btn{ top: 10px; left: 10px; z-index: 1; }
.open-menu #sidebar{ -webkit-transform: translateX(0px); -ms-transform: translateX(0px); transform: translateX(0px); }

/* btn */
.btn,
.btn.text-normal{ text-transform: none; }
.btn .btn-icon{ display: inline-block; vertical-align: middle; }
.btn .btn-icon img,
.btn .btn-icon svg{ max-height: 33px; }
.btn .btn-icon svg path,
.btn .btn-icon svg rect{ fill: currentColor; }

@media(max-width: 767px){
    .btn .btn-icon img,
    .btn .btn-icon svg{ max-height: 18px; }
}

/* button4 */
.button4{ background: #FAFAFA; border: 1px solid #808184; border-radius: 6px; }
.button4.active,
.button4:hover{ color: #D18A00; border-color: #DEDEDE; }

.button5{ background: #1C1D21; border-radius: 4px; color: #ffffff; font-weight: 500; }
.button5:hover{ background: transparent; border-color: #1C1D21; color: #1C1D21; }

.button6{ background: #808184; color: #ffffff; font-weight: 500; }
.button6:hover{ background: transparent; border-color: #808184; color: #808184; }

.button-group{ display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; margin-right: -13px; margin-left: -13px; }
.button-group .btn{ margin: 7px 13px; }

@media(max-width: 767px){
    .button-group{ margin-right: -6px; margin-left: -6px; }
    .button-group .btn{ margin: 7px 6px; }
}

/* dashboard-title */
.dashboard-title{ font-size: 31px; line-height: calc(37 / 31); font-weight: 400; margin-bottom: 0px; }

@media(max-width: 767px){
    .dashboard-title{ font-size: 17px; font-weight: 600; }
}

/* breadcrumb */
.breadcrumb.alt li,
.breadcrumb.alt a{ font-size: 18px; line-height: calc(21 / 18); color: #1C1D21; }
.breadcrumb.alt a:hover{ color: #D18A00; }

/* form1.alt */
.form1.alt .form-control:not(textarea){ font-size: 20px; height: 60px; }

@media(max-width: 1199px){
    .form1.alt .form-control:not(textarea){ font-size: 14px; height: 50px; }
}

/* details-list */
.details-list{ list-style: none; padding-right: 0px; color: #1C1D21; }
.details-list li{ margin-bottom: 23px; }
.details-list .title{ font-size: 17px; font-weight: 400; min-width: 135px; margin-left: 4px; }
.details-list .text{ font-size: 15px; font-weight: 700; }

.details-list.d-flex{ -ms-flex-wrap: wrap; flex-wrap: wrap; overflow: hidden; }
.details-list.d-flex>li{ width: 33.33%; padding: 17px 0px; margin-bottom: -1px; border-bottom: 1px solid #676E7E; }
.details-list.border-0>li{ border: 0px; margin-bottom: 0px; }
.details-list.d-flex>li .title:not(span){ min-width: auto; margin-left: 0px; }

@media(max-width: 767px){
    .details-list li{ margin-bottom: 7px; }
    .details-list .title{ font-size: 12px; font-weight: 300; min-width: 60px; }
    .details-list .text{ font-size: 12px; }

    .details-list.d-flex>li{ width: 50%; }
}

@media(max-width: 420px){
    .details-list .title{ min-width: 90px; }

    .details-list.d-flex>li{ width: 100%; }
}

/* notification-box */
.notification-box{ max-width: 425px; padding: 30px 35px; margin-top: 10px !important; border: 0px; max-height: calc(100vh - 80px); overflow-y: auto; -webkit-box-shadow: 4px 6px 9px rgba(0, 0, 0, 0.25); box-shadow: 4px 6px 9px rgba(0, 0, 0, 0.25); }
.notification-box h3{ font-size: 24px; margin-bottom: 34px; }
.notification-box .day{ font-size: 13px; color: #C9C9C9; border: 1px solid #D9D9D9; border-radius: 2px; padding: 5px 16px; display: inline-block; margin-bottom: 20px; display: none; }

@media(max-width: 767px){
    .notification-box{ border-radius: 0px; -webkit-box-shadow: none; box-shadow: none; width: 100%; max-width: initial; }
    .notification-box h3{ font-size: 17px; }
    .notification-box .day{ display:inline-block; }
}

.notification-list{ list-style: none; padding-right: 0px; }
.notification-list>li{ padding-bottom: 24px; margin-bottom: 24px; border-bottom: 1px solid #E3E4E8; }
.notification-list>li:last-child{ padding-bottom: 0px; margin-bottom: 0px; border-bottom: 0px; }
.notification-list a{ color: inherit; }
.notification-list .icon{ width: 58px; height: 50px; line-height: 50px; text-align: center; display: block; background: #FCF5E7; border-radius: 9px; margin-left: 9px; }
.notification-list .text{ -webkit-box-flex: 1; -ms-flex: 1; flex: 1; font-size: 13px; }
.notification-list .text p:last-child{ margin-bottom: 0px; }

/* list1 */
.list1{ list-style: none; padding-right: 0px; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; margin-right: -26px; margin-left: -26px; }
.list1>li{ width: 25%; padding: 0px 26px; margin-bottom: 45px; }
.list1>li .card, .list1>li .card1 { height:100%; }
@media(max-width: 1700px){
    .list1{ margin-right: -15px; margin-left: -15px; }
    .list1>li{ padding: 0px 15px; }
}

@media(max-width: 1600px){
    .list1>li{ width: 33.33%; }
}

@media(max-width: 1199px){
    .list1>li{ width: 50%; }
}

@media(max-width: 767px){
    .list1{ margin-right: -8px; margin-left: -8px; }
    .list1>li{ margin-bottom: 17px; padding: 0px 8px; }
    .horizontal-scroll{ overflow-x: auto; overflow-y: hidden; margin-bottom: 10px; padding-bottom: 20px; }
    .horizontal-scroll .list1{ -ms-flex-wrap: nowrap; flex-wrap: nowrap; margin: 0px; }
    .horizontal-scroll .list1>li + li{ margin-right: 9px; }
    .horizontal-scroll .list1>li{ margin-bottom: 0px; min-width: 180px; padding: 0px; }
}

@media(max-width: 420px){
    .list1>li{ width: 100%; }
}

/* card1 */
.card1{ background: #ffffff; border-radius: 9px; border: 1px solid #808184; -webkit-box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.15); box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.15); padding: 32px 15px; }
.card1 .inner-wrapper{ max-width: 275px; margin: auto; }

@media(max-width: 767px){
    .card1{ padding: 14px 12px; }
    .card1 .circle-icon1{ width: 27px; height: 27px; }
}

@media(max-width: 420px){
    .card1 .inner-wrapper{ max-width: initial; }
}

/* box2 */
.box2{ border-radius: 31px; -webkit-box-shadow: 0px 4px 36px 14px rgba(0, 0, 0, 0.09); box-shadow: 0px 4px 36px 14px rgba(0, 0, 0, 0.09); background: #ffffff; overflow: hidden; }
.box2 .inner-wrapper{ padding: 58px 30px; max-width: 475px; margin: auto; }
.box2 .logo img{ max-width: 137px; }

/* check1 */
.check1{ padding-right: 30px; position: relative; font-size: 17px; line-height: 27px; color: #808184; }
.check1 input{ position: absolute; opacity: 0; }
.check1 input:checked~.inner::after{ display: block; }
.check1 .inner::before{ content: ""; border: 1px solid #808184; border-radius: 4px; width: 21px; height: 21px; position: absolute; right: 0px; }
.check1 .inner::after{ content: ""; width: 7px; height: 13px; position: absolute; right: 7px; top: 2px; -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); border: solid #D18A00; border-width: 0 0 3px 3px; display: none; }

/* user-login */
.user-login #header,
.user-login #sidebar{ display: none; }
.user-login #main{ margin-right: 0px; }

/* user-login-mobile */
@media(max-width: 767px){
    .user-login-mobile{ -webkit-box-shadow: none; box-shadow: none; background: none; border-radius: 0px; }
    .user-login-mobile .inner-wrapper{ padding: 0px; }
}

/* modal2 */
.modal2 .modal-dialog{ max-width: 1226px; padding: 30px 15px; margin-right: auto; margin-left: auto; }
.modal2 .modal-dialog.small{ max-width: 847px; }
.modal2 .modal-content{ border: 0px; border-radius: 15px; background: #D18A00; -webkit-box-shadow: 0px 9px 9px rgba(0, 0, 0, 0.25); box-shadow: 0px 9px 9px rgba(0, 0, 0, 0.25); overflow: hidden; }
.modal2 .modal-header{ display: block; min-height: 95px; padding: 30px 50px; padding-left: 60px; color: #ffffff; border: 0px; position: relative; }
.modal2 .modal-header .details-list.d-flex li{ width: auto; margin-left: 30px; padding: 0px; margin-bottom: 8px; }
.modal2 .modal-header .details-list.d-flex li .title{ min-width: auto; margin-left: 10px; }
.modal2 .modal-header .close-modal{ position: absolute; left: 30px; top: 35px; font-size: 50px; line-height: .5; color: #ffffff; }
.modal2 .modal-body{ border-top-right-radius: 15px; border-top-left-radius: 15px; overflow: hidden; padding: 50px 40px; background: #ffffff; }
.modal2 .modal-footer{ background: #000000; padding: 20px 30px; }

@media(max-width: 767px){
    .modal2 .modal-header{ padding: 18px 20px; padding-left: 30px; min-height: auto; }
    .modal2 .modal-header .close-modal{ left: 10px; top: 20px; font-size: 30px; }
    .modal2 .modal-header h3{ font-size: 20px; }
    .modal2 .modal-header .details-list.d-flex li{ margin-left: 18px; }
    .modal2 .modal-header .details-list.d-flex li .title{ margin-left: 6px; }
    .modal2 .modal-body{ padding: 30px 25px; }
    .modal2 .modal-body .bg-md{ background: transparent; }
}

/* video-box */
.video-box{ position: relative; }
.video-box > img{ min-height: 300px; width: 100%; -o-object-fit: cover; object-fit: cover; }
.video-box .play-btn{ position: absolute; right: 50%; top: 50%; -webkit-transform: translate(50%, -50%); -ms-transform: translate(50%, -50%); transform: translate(50%, -50%); }
.video-box .play-btn img{ width: 80px; }

@media(max-width: 767px){
    .video-box .play-btn img{ width: 50px; }
}

/* video-wrapper */
.video-wrapper .description{ padding: 35px 50px 15px; background: #fdf5e8; }

@media(max-width: 767px){
    .video-wrapper .description{ padding: 25px 15px 10px; }
}

/* ratings */
.ratings li{ margin-bottom: 15px; }
.ratings .d-flex .title{ min-width: 75px; margin-left: 10px; font-size: 17px; }
.ratings .stars .fa{ color: #d1d5d8; font-size: 22px; margin-left: 4px; }
.ratings .stars .fa.active{ color: #fec106; }

@media(max-width: 767px){
    .ratings .d-flex .title{ font-size: 14px; }
    .ratings .stars .fa{ font-size: 18px; margin-left: 2px; }
}

/* 29-09-22 */
.text-color-dark{ color: #1C1D21 !important; }

@media(max-width: 767px){
    .link1{ font-size: 14px; }
}

#header .user .text{ -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }
#header .user .name{ display: block; font-size: 17px; font-weight: 600; }
#header .user .type{ display: block; font-size: 15px; }

/* toggle1 */
.toggle1.alt .slider{ display: block; width: 65px; height: 39px; position: relative; background: #D9D9D9; border-radius: 100px; }
.toggle1.alt .slider::before{ width: 33px; height: 33px; -webkit-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15), 0px 3px 1px rgba(0, 0, 0, 0.06); box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15), 0px 3px 1px rgba(0, 0, 0, 0.06); }
.toggle1.alt input:checked ~ .slider::before{ -webkit-transform: translateY(-50%) translateX(-28px); -ms-transform: translateY(-50%) translateX(-28px); transform: translateY(-50%) translateX(-28px); }

@media(max-width: 767px){
    .toggle1.alt .slider{ width: 35px; height: 21px; }
    .toggle1.alt .slider::before{ width: 18px; height: 18px; }
    .toggle1.alt input:checked ~ .slider::before{ -webkit-transform: translateY(-50%) translateX(-13px); -ms-transform: translateY(-50%) translateX(-13px); transform: translateY(-50%) translateX(-13px); }
}

/* card1 */
.card1 .options{ margin-right: -7px; margin-left: -7px; }
.card1 .options>[class*="col"]{ padding: 0px 7px; }
.card1 .circle-icon1 img{ max-height: 25px; }
.card1.check-item{ padding-left: 42px; position: relative; }
.card1.check-item .check1{ position: absolute; left: 15px; top: 15px; }

@media(max-width: 767px){
    .card1 .options{ margin-right: -3px; margin-left: -3px; }
    .card1 .options>[class*="col"]{ padding: 0px 3px; }
    .card1 .circle-icon1 img{ max-height: 15px; }
    .card1 h4{ font-size: 15px; }
}

/* radio1 */
.radio1.pointer-down{ padding-right: 0px; padding-bottom: 31px; }
.radio1.pointer-down .inner::before{ top: auto; bottom: 0px; right: 50%; -webkit-transform: translateX(50%); -ms-transform: translateX(50%); transform: translateX(50%); }
.radio1 .inner.text-wrapper{ height: auto; width: auto; line-height: initial; min-width: 100px; padding: 16px 5px 14px; border-radius: 4px; font-size: 15px; font-weight: 600; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
.radio1 .inner.text-wrapper .radio-icon{ width: 67px; height: 67px; color: #ffffff; background: #808184; border-radius: 100px; font-size: 30px; line-height: 67px;  }
.radio1 input:checked ~ .inner .radio-icon{ background: #D18A00; }

@media(max-width: 767px){
    .radio1 .inner.text-wrapper{ font-size: 11px; }
    .radio1 .inner.text-wrapper.bg-none-mobile{ background: none; padding: 0px; min-width: auto; }
    .radio1 .inner.text-wrapper .radio-icon{ width: 38px; height: 38px; font-size: 20px; line-height: 38px;  }
}

/* custom-selectbox */
.custom-selectbox{ position: relative; }
.custom-selectbox .chosen-container .chosen-choices { background: transparent; border: 0px; padding: 10px 19px; -webkit-box-shadow: none !important; box-shadow: none !important; }
.custom-selectbox .chosen-container-multi .chosen-choices li.search-field input[type=text]{ font-size: 13px; }
.custom-selectbox .chosen-container-multi .chosen-choices li.search-choice{ background: #000000; border-radius: 4px; border: 0px; color: #ffffff; font-size: 15px; -webkit-box-shadow: none; box-shadow: none; padding-top: 7px; padding-bottom: 7px; }
.custom-selectbox .chosen-container-multi .chosen-choices li.search-choice .search-choice-close{ top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }
.custom-selectbox .chosen-container-multi .chosen-choices li.search-choice .search-choice-close::before{ content: '\2A09'; font-size: 15px; line-height: .7; color: #ffffff; display: inline-block; }

/* button */
.button6-outline{ border: 2px solid #808184; color: #808184; }
.button6-outline:hover{ background: #808184; color: #ffffff; }
.btn.lead{ font-size: 20px; }

@media(max-width: 767px){
    .btn.lead{ font-size: 16px; }
}


/* check1 */
.check1.lead{ font-size: 20px; }
.check1.check-box{ padding-right: 0px; line-height: normal; }
.check1.check-box .inner::before{ position: static; display: block; }

@media(max-width: 767px){
    .check1{ padding-right: 35px; line-height: 23px; }
    .check1 .inner::before{ width: 23px; height: 23px; }
    .check1 .inner::after{ width: 9px; height: 16px; right: 7px; top: 1px; }
    .check1.lead { font-size: 16px; }
}

/* details-box */
.table1.alt{ background: #ffffff; -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15); box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15); border-radius: 9px; color: #1C1D21; position: relative; }
.table1.alt thead td{ padding: 17px 30px; background: #E19500; color: #ffffff; font-size: 31px; line-height: calc(37 / 31); font-weight: 400; margin-bottom: 0px; }
.table1.alt tbody td{ min-width: 210px; background: transparent !important; padding: 27px 50px; position: relative; }
.table1.alt tbody td::after{ content: ''; width: 1px; background: #E19500; height: calc(100% - 54px); position: absolute; left: -1px; top: 50%; transform: translateY(-50%); }
.table1.alt tbody td:last-child::after{ display: none; }
.table1.alt tbody td .title{ font-size: 17px; display: block; font-weight: 300; margin-bottom: 7px; }
.table1.alt tbody td .text{ font-size: 17px; display: block; font-weight: 600; }

.table1-options{ max-width: -webkit-fit-content; max-width: -moz-fit-content; max-width: fit-content; margin-right: auto; -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15); box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15); border-radius: 9px; background: #ffffff; border: 1px solid #D1D5D8; padding: 33px 30px 24px; margin-top: -10px; }

@media(max-width: 1199px){
    .table1.alt tbody td{ padding: 20px; min-width: 170px; }
    .table1.alt tbody td::after{ height: calc(100% - 40px); }
}

@media(max-width: 991px){
    .table1-options{ padding: 23px 15px 13px; }
}

@media(max-width: 767px){
    .table1.alt thead td{ font-size: 20px; padding: 15px; }
    .table1.alt tbody td{ padding: 15px; min-width: auto; }
    .table1.alt tbody td::after{ height: calc(100% - 30px); }
    .table1.alt tbody td .title,
    .table1.alt tbody td .text{ font-size: 15px; }
    .table1-options{ max-width: initial; }
}