/* ==========================================================================Global Settings========================================================================== */
@font-face { font-family: 'NouvelR'; src: url('../fonts/NouvelR-Semibold.eot'); src: url('../fonts/NouvelR-Semibold.eot?#iefix') format('embedded-opentype'),
 url('../fonts/NouvelR-Semibold.woff2') format('woff2'),
 url('../fonts/NouvelR-Semibold.woff') format('woff'),
 url('../fonts/NouvelR-Semibold.ttf') format('truetype'),
 url('../fonts/NouvelR-Semibold.svg#NouvelR-Semibold') format('svg'); font-weight: 600; font-style: normal; font-display: swap; } 

@font-face { font-family: 'NouvelR'; src: url('../fonts/NouvelR-Light.eot'); src: url('../fonts/NouvelR-Light.eot?#iefix') format('embedded-opentype'),
 url('../fonts/NouvelR-Light.woff2') format('woff2'),
 url('../fonts/NouvelR-Light.woff') format('woff'),
 url('../fonts/NouvelR-Light.ttf') format('truetype'),
 url('../fonts/NouvelR-Light.svg#NouvelR-Light') format('svg'); font-weight: 300; font-style: normal; font-display: swap; } 

@font-face { font-family: 'NouvelR'; src: url('../fonts/NouvelR-Regular.eot'); src: url('../fonts/NouvelR-Regular.eot?#iefix') format('embedded-opentype'),
 url('../fonts/NouvelR-Regular.woff2') format('woff2'),
 url('../fonts/NouvelR-Regular.woff') format('woff'),
 url('../fonts/NouvelR-Regular.ttf') format('truetype'),
 url('../fonts/NouvelR-Regular.svg#NouvelR-Regular') format('svg'); font-weight: normal; font-style: normal; font-display: swap; } 

@font-face { font-family: 'NouvelR'; src: url('../fonts/NouvelR-Extrabold.eot'); src: url('../fonts/NouvelR-Extrabold.eot?#iefix') format('embedded-opentype'),
 url('../fonts/NouvelR-Extrabold.woff2') format('woff2'),
 url('../fonts/NouvelR-Extrabold.woff') format('woff'),
 url('../fonts/NouvelR-Extrabold.ttf') format('truetype'),
 url('../fonts/NouvelR-Extrabold.svg#NouvelR-Extrabold') format('svg'); font-weight: bold; font-style: normal; font-display: swap; } 

@font-face { font-family: 'NouvelR'; src: url('../fonts/NouvelR-Bold.eot'); src: url('../fonts/NouvelR-Bold.eot?#iefix') format('embedded-opentype'),
 url('../fonts/NouvelR-Bold.woff2') format('woff2'),
 url('../fonts/NouvelR-Bold.woff') format('woff'),
 url('../fonts/NouvelR-Bold.ttf') format('truetype'),
 url('../fonts/NouvelR-Bold.svg#NouvelR-Bold') format('svg'); font-weight: bold; font-style: normal; font-display: swap; } 

@font-face { font-family: 'NouvelR Book'; src: url('../fonts/NouvelR-Book.eot'); src: url('../fonts/NouvelR-Book.eot?#iefix') format('embedded-opentype'),
 url('../fonts/NouvelR-Book.woff2') format('woff2'),
 url('../fonts/NouvelR-Book.woff') format('woff'),
 url('../fonts/NouvelR-Book.ttf') format('truetype'),
 url('../fonts/NouvelR-Book.svg#NouvelR-Book') format('svg'); font-weight: 300; font-style: normal; font-display: swap; } 



/** Remove text-shadow in selection highlight.*/

::-moz-selection { background: #b3d4fc; text-shadow: none; } 

::selection { background: #b3d4fc; text-shadow: none; } 


/** Body settings, change it as required*/

body { font-size: 10px; line-height: 1.2; color: #000; font-family: 'NouvelR', sans-serif; text-rendering: optimizeLegibility; } 

h1,
h2,
h3,
h4,
h5,
h6,
p { margin-top: 0px; } 


/** Links*/
a { color: #d18c2a; } 

a,
a:hover { text-decoration: none; transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s; } 


/** A better looking default horizontal rule*/

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; } 


/** Remove the gap between images and the bottom of their containers.*/

img { vertical-align: middle; max-width: 100%; height: auto; -ms-interpolation-mode: bicubic; } 


/** Allow only vertical resizing of textareas.*/

textarea { resize: none; } 


/** Other*/

*:focus { outline: none !important; } 


/* ==========================================================================Helper classes========================================================================== */

img.alignleft { float: left; margin: 0 10px 10px 0; display: block; } 

img.alignright { float: right; margin: 0 0px 10px 10px; display: block; } 

img.aligncenter { display: block; margin-left: auto; margin-right: auto; margin-bottom: 10px; } 

.hidden { display: none !important; visibility: hidden; } 

.clear { clear: both; height: 1px; line-height: 1px; } 


/** Other*/
.relative { position: relative !important; } 

/* ==========================================================================Layout========================================================================== */


/*
*container
*/
#container { min-width: 320px; position: relative; overflow-x: hidden; } 

@media (min-width: 1440px){
 .container { max-width: 1517px; } 
 }

@media (min-width: 1200px){
 .container-md { max-width: 1164px; } 
 }


/*
*header
*/
#header { background: #fff; position: relative; width: 100%; left: 0; top: 0; } 

#header .open-menu-btn { color: #fff; font-size: 20px; background: #d18c2a; padding: 2px 5px; } 

#header .open-menu-btn .fa { margin-right: 0; } 

#header .logo { padding-left: 26px; } 

#header .logo img { max-height: 65px; } 

@media (max-width: 1199px){
 #header .logo { padding-left: 11px; } 
 }

@media (max-width: 991px){
 #header { padding: 10px 0; } 
 #header .logo { padding-left: 0; } 
 }

@media (max-width: 767px){
 #header .logo img { max-height: 50px; } 
 }

/*
*banner
*/
#banner { position: relative; } 

#banner .description { position: absolute; z-index: 200; top: 50%; transform: translateY(-50%); padding: 0 12px; max-width: 576px; width: 100%; left: 0; } 

#banner .description h2 { font-size: 330%; color: #fff; } 

#banner .description h2 span { color: #d18c2a; } 

#banner .description p { color: #fff; font-weight: 300; margin-bottom: 20px; } 

#banner .left-col { overflow: hidden; } 

#banner .right-col { min-width: 244.3px; width: 244.3px; padding: 30px 20px 10px; } 

#banner .cover { position: relative; overflow: hidden; } 

#banner .cover:after { position: absolute; width: 100%; height: 100%; top: 0; left: 0; content: ''; background: rgba(0,0,0,.4); } 

#banner .cover:before { content: ''; position: absolute; width: 873px; height: 571px; background-size: contain; background: url('../images/banner-before.png') no-repeat; z-index: 1; left: -684px; top: 50%; transform: translateY(-50%); } 

#banner .cover img { min-height: 650px; max-height: 900px; } 




@media (max-width: 1600px){
 #banner .right-col { min-width: 210.3px; width: 210.3px; } 
 }

@media (max-width: 767px){
 #banner .row .left-col,
 #banner .row .right-col { width: 100%; max-width: 100%; flex: none; } 
 #banner .cover img { min-height: 500px; } 
 #banner .right-col { padding: 30px 12px 10px; } 
 }

@media (min-width: 992px){
 #banner .description { margin-top: -70px; } 
 }


@media (min-width: 1500px){
 #banner .description { left: 50%; margin-left: -760px; } 
 #banner .left-col .description { margin-left: -635px; } 
 #banner .right-col { padding: 52px 37px 10px; } 
 }


/*
*main-navigation
*/

#main-navigation ul { padding: 0px; list-style-type: none; margin: 0px; } 

#main-navigation .menu { margin-right: auto; } 

#main-navigation .menu > li { font-size: 200%; color: #000000; display: inline-block; position: relative; font-weight: 600; } 

#main-navigation .menu a { color: inherit; } 

#main-navigation .menu .current { color: #d18c2a; } 

#main-navigation .menu > li > a { padding-top: 10px; padding-bottom: 10px; } 

#main-navigation .menu .child { position: absolute; min-width: 199px; padding: 20px 19px; left: -19px; background: rgba(0,0,0, .85); text-align: left; } 

#main-navigation .menu .child li { color: #d18c2a; font-size: 15px; line-height: 17px; margin-bottom: 11px; } 

#main-navigation .menu .child li a:hover { opacity: 0.8; } 

#main-navigation .menu .child li:last-child { margin-bottom: 0px; } 

#main-navigation .menu > li:before { content: '•'; font-family: Arial; margin: 0 18px; } 


@media (max-width: 1439px){
 #main-navigation .menu > li { font-size: 140%; } 
 }

@media (max-width: 1199px){
 #main-navigation { margin: 0 -37px; } 
 #main-navigation .menu > li { font-size: 130%; } 
 #main-navigation .menu > li:before { margin: 0 6px; } 
 }

@media (min-width: 992px){
 #main-navigation .menu > li > a:hover { color: #d18c2a; } 
 #main-navigation .menu .parent .child { opacity: 0; visibility: hidden; transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s; -webkit-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s; -moz-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s; -o-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s; -ms-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s; } 
 #main-navigation .menu .parent:hover > a { color: #d18c2a; } 
 #main-navigation .menu .parent:hover .child { opacity: 1; visibility: visible; } 
 #main-navigation .menu > li:before { content: '•'; font-family: Arial; display: inline-block; color: #bfbfc1; } 
 #main-navigation .menu > li:first-child:before { display: none; } 
 }

@media (max-width: 991px){
 .open-menu { overflow: hidden; } 
 .open-menu #main-navigation { left: 0px; } 
 #main-navigation { margin: 0; position: fixed; width: 100%; height: 100%; top: 0px; left: 100%; background: #fff; z-index: 1000; padding: 58px 20px 20px; transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s; -webkit-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s; -moz-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s; -ms-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s; } 
 #main-navigation .scrollable-content { height: 100%; overflow-x: auto; -webkit-overflow-scrolling: touch; display: block; } 
 #main-navigation .close-menu-btn { font-size: 20px; position: absolute; right: 15px; top: 24px; color: #d18c2a; } 
 #main-navigation .menu { margin-bottom: 20px; } 
 #main-navigation .menu > li { display: block; margin-bottom: 1px; } 
 #main-navigation .menu > li > a { padding: 13px 5px; display: block; } 
 #main-navigation .menu .parent > a { padding-right: 20px; position: relative; } 
 #main-navigation .menu .parent > a:after { font-family: 'FontAwesome'; content: "\f0d7"; color: #d2bb9e; font-weight: 900; display: inline-block; vertical-align: middle; margin-left: 9px; position: absolute; right: 5px; top: 50%; margin-top: -11px; transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s; -webkit-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s; -moz-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s; -o-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s; -ms-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s; } 
 
 #main-navigation .menu .open > a { color: #d18c2a; } 
 
 #main-navigation .menu .open > a:after { -webkit-transform: rotate(-180deg); -ms-transform: rotate(-180deg); transform: rotate(-180deg); } 
 #main-navigation .menu .child { position: static; min-width: auto; left: 0px; background: transparent; display: none; padding-top: 4px; padding-bottom: 4px; } 
 #main-navigation .menu > li:before { display: none; } 
 }

@media (max-width: 1439px) and (min-width: 1200px){
 #main-navigation { margin-left: -100px; margin-right: -100px; } 
 }

/*
*user-options 
*/
#user-options { background: rgb(235,126,76); background: linear-gradient(90deg, rgba(235,126,76,1) 0%, rgba(208,137,44,1) 100%); padding: 46px 0px; display: inline-block; margin-right: -12px; margin-bottom: 0; width: 244.3px; text-align: center; } 

#user-options li { display: inline-block; } 

#user-options li + li { margin-left: 20px; } 

#user-options li a { color: #fff; font-size: 130%; } 

#user-options li a .fa { font-size: 110%; margin-right: 4px; } 

#user-options li a:hover { color: #000; } 

#user-options li a span { text-decoration: underline; } 

@media (max-width: 1600px){
 #user-options { padding: 40px 23px; } 
 }

@media (max-width: 1199px){
 #user-options { padding: 32px 23px; } 
 }

@media (max-width: 991px){
 #user-options { padding: 0; display: block; background: transparent; margin-right: 0; } 
 #user-options li a { color: #000; } 
 #user-options li a:hover { color: #d18c2a; } 
 }

@media (max-width: 767px){
 #user-options li a .fa { margin-right: 0; } 
 #user-options li a span { display: none; } 
 #user-options li + li { margin-left: 13px; } 
 }

/*
*footer
*/
#footer { padding: 13px 0 6px; background: #000; position: relative; } 

#footer .container { position: relative; z-index: 20; } 

#footer .logo img { height: 65px; } 

#footer .column { margin: 32px 0; } 

#footer .footer-navigation { padding: 0; list-style-type: none; margin: 0; display: flex; flex-wrap: wrap; justify-content: space-between; } 

#footer .footer-navigation li { margin-right: 4px; } 

#footer .footer-navigation li:last-child { margin-right: 0; } 

#footer .footer-navigation li a { font-size: 160%; color: #fff; } 

#footer .footer-navigation li a:hover { color: #d18c2a; } 

#footer .copyright { color: #fff; font-size: 130%; font-weight: 300; margin-bottom: 0; } 

#footer .copyright a { color: #fff; display: inline-block; margin: 0 6px; text-decoration: underline; } 

#footer .copyright a:hover { color: #d18c2a; } 

#footer .copyright a:first-child { margin-left: 30px; } 

#footer .figure1.absolute { opacity: 0.1; } 

@media (max-width: 1199px){
 #footer .footer-navigation li a { font-size: 140%; } 
 #footer .btn { padding: 11px 9px; } 
 }

@media (max-width: 991px){
 #footer .copyright { font-size: 110%; } 
 #footer .copyright a:first-child { margin-left: 14px; } 
 }

@media (max-width: 767px){
 #footer { text-align: center; } 
 #footer .logo { margin-bottom: 30px; } 
 #footer .column { margin: 0 0 30px}
 #footer .footer-navigation { display: block; } 
 #footer .footer-navigation li { margin-right: 20px; display: inline-block; margin-bottom: 5px; } 
 }

/* ==========================================================================Common Functionalities & UI Elements========================================================================== */


/** Typography*/

h1,
h2,
h3,
h4,
h5,
h6 { font-weight: 600; margin-bottom: 16px; } 

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a { color: inherit; } 

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover { color: inherit; } 

h1, h2 { font-size: 360%; line-height: 1.2; } 


h3 { font-size: 310%; } 

h4 { font-size: 240%; } 

h5 { font-size: 200%; } 

h6 { font-size: 14px; } 

p { font-size: 150%; } 

@media (max-width: 992px) { h1, h2 { font-size: 310%; } 
 }

@media (max-width: 767px) { h1, h2 { font-size: 280%; } 
 h3 { font-size: 260%; } 
 }


/* Lists ---------------------- */

ul,
ol { margin-bottom: 16px; list-style-position: outside; } 

ul li ul,
ul li ol { margin-left: 20px; margin-bottom: 0; } 

ol { margin-left: 20px; } 

ol li ul,
ol li ol { margin-left: 20px; margin-bottom: 0; } 


/*
*btn
*/

.btn { font-size: 130%; line-height: 18px; font-weight: 400; padding: 13px 15px; border-radius: 30px; display: inline-flex; align-items: center; } 

.btn:focus { box-shadow: none; } 

.btn:active+.btn:focus,
.btn:active:focus { box-shadow: none; } 

.btn .icon { display: inline-block; margin-right: 4px; } 

.button1 { background: #fff; color: #000000; border-color: #fff; } 

.button1:hover { border-color: #e7e1e1; background: #e7e1e1; } 

.button2 { background: rgb(235,126,76); background: linear-gradient(90deg, rgba(235,126,76,1) 0%, rgba(208,137,44,1) 100%); color: #fff; } 

.button2:hover { color: #fff; opacity: 0.8; } 

/*
*classes-opton
*/
.classes-option { padding: 0; list-style-type: none; } 

.classes-option li { margin-bottom: 50px; } 

.classes-option li:last-child { margin-bottom: 0; } 

.classes-option li .figure1 { margin-bottom: 10px; } 

.classes-option h5 { margin-bottom: 6px; } 

.classes-option p { font-size: 130%; } 

@media (max-width: 1500px){
 .classes-option li { margin-bottom: 30px; } 
 }


@media (max-width: 991px){
 .classes-option li { margin-bottom: 20px; } 
 }

/*
*form
*/
.form .form-group { margin-bottom: 11px; } 

.form-control { font-size: 150%; font-weight: 400; padding: 11px 13.5px; border-radius: 2px; background: transparent; color: #000; border-color: #000; } 

.form-control::-webkit-input-placeholder { color: #000; } 

.form-control:-ms-input-placeholder { color: #000; } 

.form-control::placeholder { color: #000; } 

textarea.form-control { min-height: 105px; } 

.text-white .form-control { border-color: #fff;} 

.text-white .form-control::-webkit-input-placeholder { color: #fff; } 

.text-white .form-control:-ms-input-placeholder { color: #fff; } 

.text-white .form-control::placeholder { color: #fff; } 

.phone-number { position: relative; } 

.phone-number .flag { position: absolute; left: 15px; top: 50%; transform: translateY(-50%); } 

.phone-number .form-control { padding-left: 62px; } 

/*
*figure1
*/
.figure1 { margin: 0; } 

.figure1 img { object-fit: cover; } 

.figure1.c-shadow { -webkit-box-shadow: -14px 14px 0px 0px rgba(0,0,0,0.94); -moz-box-shadow: -14px 14px 0px 0px rgba(0,0,0,0.94); box-shadow: -14px 14px 0px 0px rgba(0,0,0,0.94); } 

.figure1.absolute { position: absolute; width: 100%; height: 100%; top: 0; left: 0; } 

.figure1.absolute img { height: 100%; } 

/*
*stats
*/
.stats { padding: 0; list-style-type: none; display: flex; flex-wrap: wrap; margin-left: -12px; margin-right: -12px; } 

.stats li { width: 50%; padding: 0 12px; display: flex; flex-wrap: wrap; align-items: center; } 

.stats li + li { border-left: 3px solid #f1f1f2; } 

.stats li .count { font-size: 360%; line-height: 1; font-weight: 600; color: #d18c2a; flex: 0 0 auto; min-width: 82px; } 

.stats li .content { font-weight: 600; color: #1b1b1b; font-size: 150%; line-height: 1; flex: 1 0 0%; padding-left: 10px; } 

@media (max-width: 767px){
 .stats li { display: block; } 
 .stats li .count { display: block; margin-bottom: 10px; } 
 .stats li .content { display: block; padding-left: 0; } 
 }

/*
*bg colors
*/
.bg-color1 { background: rgb(235,126,76) !important; background: linear-gradient(90deg, rgba(235,126,76,1) 0%, rgba(208,137,44,1) 100%) !important; } 

/*
*card
*/
.card { position: relative; border-radius: 0; border: 0; z-index: 10; text-align: center; padding: 0 20px 35px; height: 100%; display: flex; flex-direction: column; } 

.card:before { position: absolute; content: ''; width: 100%; height: calc(100% - 106px); bottom: 0; left: 0; background: #000; z-index: -1; } 

.card .figure1 { margin-bottom: 20px; } 

.card .figure1 img { height: 209px; } 

.card .content { max-width: 235px; margin-left: auto; margin-right: auto; } 

.card h3 { font-size: 190%; text-transform: uppercase; color: #fff; } 

.card h3 .icon { display: block; margin-bottom: 11px; min-height: 23px; } 

.card h3 .icon img { max-height: 23px; } 

.card p { color: #fff; font-size: 150%; margin-bottom: 26px; } 

.card .price { text-transform: uppercase; } 

.card .price span { font-size: 42px; display: inline-block; vertical-align: middle; margin-left: 5px; } 

.card footer { margin-top: auto; } 

/*
*list
*/
.list { padding-left: 16px; } 

.list li { font-size: 130%; margin-bottom: 8px; list-style-type: square; } 

/*
*triangle
*/
.triangle {position: relative;background-color: #fff;text-align: left; display: block; box-shadow: 74px 174px 39px -27px rgb(0 0 0 / 6%)}
.triangle:before,
.triangle:after {content: '';position: absolute;background-color: inherit; } 
.triangle,
.triangle:before,
.triangle:after {width: 188px;height: 188px;border-top-right-radius: 10%; } 

.triangle {transform: rotate(-60deg) skewX(-30deg) scale(1,.866); } 
.triangle:before {transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%); } 
.triangle:after {transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%); } 

/*
*section
*/
.section { padding: 70px 0; } 

.section header { text-align: center; margin-bottom: 48px; } 

.column { margin-bottom: 30px; } 

@media (min-width: 992px){
 .pull-top { position: relative; z-index: 101; margin-top: -70px; } 
 }


@media (min-width: 1200px){
 .pull-top { margin-top: -116px; } 
 }

/*
*contact-us
*/
.contact-us .d-flex .inner { max-width: 583px; width: 100%; margin-top: auto; margin-bottom: auto; padding: 50px 12px 50px 225px; } 

@media (max-width: 1550px){
 .contact-us .d-flex .inner { padding-left: 100px; padding-right: 100px; } 
 }

@media (max-width: 1199px){
 .contact-us .d-flex .inner { padding-left: 20px; padding-right: 20px; } 
 }

@media (max-width: 767px){
 .contact-us .d-flex .inner { padding-left: 12px; padding-right: 12px; max-width: 100%; } 
 }

/*
*we offer
*/

.we-offer .column { padding-top: 86px; } 

.we-offer .offer { position: absolute; left: 12px; top: 0; } 

.we-offer .offer h3 { display: inline-block; color: #fff; background: #000; font-size: 200%; padding: 8px 25px; border-radius: 25px; margin-bottom: 20px; } 

.we-offer .offer .triangle { position: absolute; left: -34px; bottom: 65px; z-index: -1; } 

.we-offer .right-col .offer { left: auto; right: 0; } 

@media (min-width: 768px){
 .we-offer .right-col .offer { top: auto; bottom: 0; } 
 }

@media (min-width: 1440px){
 .we-offer .left-col .offer { margin-left: -100px; } 
 }
 
/*
*team
*/
.team .relative { position: relative; } 

.team .relative footer { position: absolute; bottom: 16px; right: -89px; } 

.team .figure1 { margin: 0 -30px; } 

.team .figure1 img { min-height: 389px; } 

.team h4 { margin-bottom: 4px; } 

.team .position { font-size: 160%; font-weight: 600; } 

.team p { margin-bottom: 26px; } 

.team p strong { font-weight: 600; } 

@media (max-width: 991px){
 .team .figure1 { margin: 0; } 
 .team .relative footer { right: -18px; } 
 }

@media (max-width: 767px){
 .team .relative footer { right: 28px; } 
 .team p { margin-bottom: 16px; } 
 }

/*
*Fitness gallery
*/
.gallery a { display: block; width: 100%; height: 100%; position: relative; } 

.gallery a img { object-fit: cover; width: 100%; height: 250px; } 

.gallery a:after { content: ''; position: absolute; width: 100%; height: 100%; top: 0; left: 0; background: rgba(0,0,0,.8); transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s; } 

.gallery a:hover:after,
.gallery .px-0.current a:after { border: 6px solid #fff; background: transparent; } 

@media (min-width: 2200px){
 .gallery a img { height: 400px; } 
 }

/*
*map
*/
.map { position: relative; } 

.map .location-box { position: absolute; z-index: 10; background: #fff; max-width: 358px; width: 100%; padding: 20px; top: 50%; left: 50%; transform: translate(-50%, -50%); -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.41); -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.41); box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.41); } 

.map .location-box:after { position: absolute; content: ''; bottom: -38px; right: 41px; width: 38px; height: 38px; clip-path: polygon(100% 0, 0 0, 100% 100%); background: #fff; } 

.map .location-box h5 { margin-bottom: 6px; } 

.map .location-box address { margin-bottom: 0; } 

.map .location-box p { font-size: 150%; line-height: 1.3; margin-bottom: 0; } 


.map .location-box p a { color: inherit; } 

.map .location-box p a:hover { color: #d18c2a; } 

body.scroller #back-to-top { opacity: 1; visibility: visible; } 

#back-to-top { position: fixed; width: 18px; height: 18px; border-radius: 50%; background: #fff; color: #000; z-index: 3000; bottom: 40px; right: 12px; font-size: 160%; display: inline-flex; align-items: center; justify-content: center; box-shadow: 0px 0px 8px 0px rgb(0 0 0 / 21%); opacity: 0; visibility: hidden; } 

#back-to-top .fa { margin-top: -2px; } 

#back-to-top:hover { color: #fff; background: #d18c2a; } 

@media (min-width: 1200px){
 #back-to-top { right: auto; left: 50%; margin-left: 550px; } 
 }

.fade-in {
    -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both 1s;
            animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both 1s;
}

@-webkit-keyframes fade-in {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
/* Added by Sreelekshmi */
.wpcf7-response-output {
  font-size: 14px !important;
}

body { display:none; }