/* ==========================================================================
Global Settings
========================================================================== */

/*
* Remove text-shadow in selection highlight.
*/
::-moz-selection { background: #b3d4fc; text-shadow: none; } 
::selection { background: #b3d4fc; text-shadow: none; } 

/*
* Body settings, change it as required
*/
body { font-size: 0.9375rem; line-height: 1.2; color: #373737; background: #f8f9fe; font-family: 'Open Sans',Arial, 'Helvetica Neue', Helvetica, sans-serif; overflow-x: hidden; } 
h1, h2, h3, h4, h5, h6 { font-weight: bold; text-rendering: optimizeLegibility; margin-top: 0px; } 
h2 { font-size: 48px; line-height:1.1; } 
h3 { font-size: 27px; line-height: 1.2; } 
h4 { font-size: 18px; font-weight: 700; text-transform: uppercase; } 
p { line-height: calc(18 / 15); margin-bottom: 20px; } 

@media(max-width:767px) { 
    h2 { font-size: 28px; } 
    h3 { font-size: 24px; } 
}

button{ background: transparent; border: 0px; padding: 0px; line-height: 1; }
button:focus{ outline: 0px; }

/*
* Links
*/
a, a:hover { text-decoration: none !important; -webkit-transition: all .5s cubic-bezier(0.19, 1, 0.22, 1) 0s; -o-transition: all .5s cubic-bezier(0.19, 1, 0.22, 1) 0s; transition: all .5s cubic-bezier(0.19, 1, 0.22, 1) 0s; } 

/*
* A better looking default horizontal rule
*/
hr { display: block; height: 1px; border: 0; border-top: 2px solid #ccc; margin: 1em 0; padding: 0; } 

/*
* Remove the gap between images and the bottom of their containers.
*/
img { vertical-align: middle; max-width: 100%; height: auto; -ms-interpolation-mode: bicubic; } 

/*
* Allow only vertical resizing of textareas.
*/
textarea { resize: vertical; } 

/*
* Other
*/
*:focus { outline: none !important; } 

/* ==========================================================================
Helper classes
========================================================================== */
.mb-30{ margin-bottom: 30px; }

.text-color1{ color: #ce8a29; }

.bg-color1{ background-color: #ce8a29; }
.bg-color2{ background-color: #525355; }

.link{ font-size: 16px; line-height: calc(20 / 16); color: #ce8a29; font-weight: 500; }
.link:hover{ color: #373737; }

.icon{ display: inline-block; background: #525355; width: 53px; height: 50px; text-align: center; line-height: 50px; }
.icon img{ height: 21px; }

@media(max-width: 767px){
    .icon{ width: 40px; height: 37px; line-height: 37px; }
    .icon img{ height: 15px; }
}

/*
* Other
*/
.container{ padding: 0px 15px; }

@media(min-width: 1400px){
    .container{ max-width: 1610px; }
    .row2{ margin-right: -30px; margin-left: -30px; }
    .row2>[class*="col"]{ padding: 0px 30px; }
}

/* ==========================================================================
Layout
========================================================================== */
/* container */
#container { min-width: 320px; }

/* sidebar */
#sidebar{ width: 250px; height: 100%; position: fixed; right: 0px; top: 0px; -webkit-transition: 300ms ease-in-out; -o-transition: 300ms ease-in-out; transition: 300ms ease-in-out; z-index: 99; -webkit-transform: translateX(110%); -ms-transform: translateX(110%); transform: translateX(110%); }
#sidebar .logo{ padding: 16px; padding-right: 43px; background: #f8f9fe; -webkit-box-shadow: 8px 2px 10px 0px rgba(0, 0, 0, 0.13); box-shadow: 8px 2px 10px 0px rgba(0, 0, 0, 0.13); position: relative; z-index: 1; }
#sidebar .logo img{ max-width: 125px;  }

@media(max-width: 991px){
    #sidebar{ -webkit-transform: translateX(110%); -ms-transform: translateX(110%); transform: translateX(110%); }
    #sidebar .logo{ display: none; }
}

/* main-navigation */
#main-navigation{ padding: 48px 0px 30px; background: #ce8a29; color: #ffffff; height: calc(100vh - 97px); position: relative; }
#main-navigation .inner-wrapper{ height: 100%; overflow-y: auto; padding: 0px 30px; }
#main-navigation ul{ list-style: none; padding-right: 0px; margin-bottom: 0px; }
#main-navigation .menu a{ color: #ffffff; text-transform: uppercase; display: inline-block; border-radius: 100px; }
#main-navigation .menu li:not(.active) a:hover{ color: #373737; }
#main-navigation .menu > li{ margin-bottom: 17px; }
#main-navigation .menu > li > a{ font-size: 15px; font-weight: 700; padding: 11px 17px; }
#main-navigation .menu > li.active > a{ background: #373737; }
#main-navigation .menu > li ul li{ margin-bottom: 5px; }
#main-navigation .menu > li ul a{ font-size: 13px; padding: 5px 19px; }
#main-navigation .menu > li ul li.active a{ background: #373737; }

@media(hover: hover){
    #main-navigation .inner-wrapper{ scrollbar-width: thin; scrollbar-color: #373737 rgba(55, 55, 55, .5); }
    #main-navigation .inner-wrapper::-webkit-scrollbar{ width: 10px; }
    #main-navigation .inner-wrapper::-webkit-scrollbar-track{ background: rgba(55, 55, 55, .4); }
    #main-navigation .inner-wrapper::-webkit-scrollbar-thumb{ background: #373737; }
    #main-navigation .inner-wrapper::-webkit-scrollbar-thumb:hover{ background: rgba(55, 55, 55, .7); }
}

@media(max-width: 991px){
    #main-navigation{ padding: 72px 0px 30px; height: 100vh; }
    #main-navigation .inner-wrapper{ padding: 0px 10px; }
}

@media(max-width: 767px){
    #main-navigation .menu > li{ margin-bottom: 12px; }
    #main-navigation .menu > li > a{ font-size: 14px; padding: 8px 12px; }
    #main-navigation .menu > li ul a{ padding: 5px 12px; }
}

/* main */
#main{ min-height: 100vh; -webkit-transition: 300ms ease-in-out; -o-transition: 300ms ease-in-out; transition: 300ms ease-in-out; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
#main #content{ -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }

/* header */
#header{ padding: 23px 0px; -webkit-box-shadow: -2px 2px 10px 0px rgba(0, 0, 0, 0.13); box-shadow: -2px 2px 10px 0px rgba(0, 0, 0, 0.13); background: #ffffff; position: sticky; top: 0px; z-index: 98; }
#header .logo img{ max-width: 100px; }
#header .user{ display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; margin-right: auto; position: relative; }
#header .user .avatar{ -ms-flex-negative: 0; flex-shrink: 0; margin-left: 12px; }
#header .user .avatar img{ width: 51px; height: 51px; border-radius: 50%; -o-object-fit: cover; object-fit: cover; }
#header .user .name{ font-size: 15px; font-weight: 500; }

@media(max-width: 991px){
    #header{ padding: 15px 0px; }
    #header .user .avatar{ margin-left: 0px; }
    /* #header .user::after{ content: "\f0d7"; font-family: "FontAwesome"; font-size: 15px; display: inline-block; } */
    #header .user .name{ display: none; }
}

@media(max-width: 767px){
    #header .logo img{ max-width: 80px; }
    #header .user .avatar{ margin-left: 5px; }
    #header .user .avatar img{ width: 35px; height: 35px; }
}

/* open-menu-btn */
.open-menu-btn img{ width: 23px; }

/* close-menu-btn */
.close-menu-btn{ position: absolute; left: 15px; top: 20px; font-size: 40px; line-height: .5; color: #ffffff; }

.menu-open #sidebar{ -webkit-transform: translateX(0px); -ms-transform: translateX(0px); transform: translateX(0px); }
.menu-open #main{ margin-right: 250px; }

@media(max-width: 991px){
    .menu-open #sidebar{ -webkit-transform: translateX(0px); -ms-transform: translateX(0px); transform: translateX(0px); }
    .menu-open #main{ margin-right: 0px; }
}

/* footer */
#footer{ text-align: left; padding: 29px 0px; }
#footer p{ font-size: 11px; color: #2e353d; margin-bottom: 0px; }

@media(max-width: 767px){
    #footer{ text-align: center; padding: 18px 0px; }
}

/* ==========================================================================
Common Functionalities & UI Elements
========================================================================== */
/* section */
.section{ padding: 44px 0px; overflow-x: hidden; }

/* button1 */
.btn{ border-width: 2px; border-radius: 100px; font-size: 15px; font-weight: 400; text-transform: uppercase; padding: 20px 37px; line-height: 1; }
.btn svg{ height: 23px; display: inline-block; vertical-align: middle; }
.btn-sm{ padding: 14px 28px; }
.btn-lg{ font-size: 14px; }
.btn:focus{ -webkit-box-shadow: none; box-shadow: none; }

@media(max-width: 991px){
    .btn{  padding: 12px 28px; }
    .btn-lg{ font-size: 15px; }
}

.button1{ background: #ce8a29; color: #ffffff; }
.button1:hover{ background: transparent; border-color: #ce8a29; color: #ce8a29; }
.button1:hover svg path{ fill: #ce8a29; }

.button2{ background: #373737; color: #ffffff; }
.button2:hover{ background: transparent; border-color: #373737; color: #373737; }
.button2:hover svg path{ fill: #373737; }

.button3{ background: #525355; color: #ffffff; }
.button3:hover{ background: transparent; border-color: #525355; color: #525355; }
.button3:hover svg path{ fill: #525355; }

/* breadcrumb */
.breadcrumb li::after{ content: "/"; display: inline-block; margin: 0px 8px; }
.breadcrumb li:last-child::after{ display: none; }
.breadcrumb li,
.breadcrumb a{ font-size: 13px; color: #373737; }
.breadcrumb a:hover{ color: #ce8a29; }

/* box1 */
.box1{ display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; padding: 35px 40px; background: #ffffff; border-radius: 7px; -webkit-box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.13); box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.13); height: 100%; }

@media(max-width: 1199px){
    .box1{ padding: 35px 25px; }
}

@media(max-width: 767px){
    .box1{ padding: 28px 15px; }
}

/* stat */
.stat{ -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
.stat .icon{ margin-left: 15px; -ms-flex-negative: 0; flex-shrink: 0; }
.stat .icon img{ max-height: 74px; width: 100%; }
.stat .text{ max-width: 150px; }
.stat .text p{ font-size: 18px; font-weight: 500; color: #373737; margin-bottom: 15px; }
.stat .text .value{ font-size: 40px; font-weight: 500; color: #ce8a29; line-height: 1; margin-bottom: 0px; }

@media(max-width: 1199px){
    .stat .icon img{ max-height: 55px; }
    .stat .text p{ font-size: 16px; margin-bottom: 8px; }
    .stat .text .value{ font-size: 30px; }
}

/* welcome-title */
.welcome-title{ font-size: 24px; color: #373737; margin-bottom: 0px; }

@media(max-width: 767px){
    .welcome-title{ font-size: 18px; }
}

/* modal1 */
.modal1 .modal-content{ padding: 40px 40px 60px; border: 0px; -webkit-box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.13); box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.13); }
.modal1 .close-modal{ position: absolute; left: 43px; top: 43px; font-size: 40px; line-height: .5; color: #000000; z-index: 1; overflow: hidden; }
.modal1 .close-modal:hover{ color: #ce8a29; }
.modal1 .modal-dialog{ max-width: 696px; }

@media(max-width: 767px){
    .modal1 .modal-dialog{ margin-right: 0px; margin-left: 0px; padding: 30px 15px; }
    .modal1 .modal-content{ padding: 45px 18px 30px; border: 0px; -webkit-box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.13); box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.13); }
    .modal1 .close-modal{ left: 15px; top: 15px; font-size: 30px; }
}

/* form1 */
.form1 .form-group{ margin-bottom: 28px; padding-bottom:0; }
.form1 .form-label{ display: block; font-size: 15px; line-height: calc(18 / 15); font-weight: 500; margin-bottom: 8px; color: #221F1F; }
.form1 .form-control{ height: 50px; border-radius: 2px; border: 1px solid #525355; color: #525355; font-size: 13px; padding: 10px 19px; }
.form1 .form-control::-webkit-input-placeholder{ color: #525355; }
.form1 .form-control::-moz-placeholder{ color: #525355; }
.form1 .form-control:-ms-input-placeholder{ color: #525355; }
.form1 .form-control::-ms-input-placeholder{ color: #525355; }
.form1 .form-control::placeholder{ color: #525355; }
.form1 .form-control:focus{ -webkit-box-shadow: none; box-shadow: none; }
.form1 textarea.form-control{ resize: unset; height: 110px; -webkit-appearance: none; -moz-appearance: none; appearance: none; }
.form1 .input-wrapper{ position: relative; }
.form1 .password .form-control{ padding-left: 50px; }
.form1 .password button{ position: absolute; left: 24px; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }
.form1 .password button img{ width: 22px; }

.form1 .form-group.ar{ text-align: left; }
.form1 .form-group.ar .form-label{ text-decoration: line-through; }
.form1 .form-group.ar .form-control{ text-align: left; }

@media(max-width: 767px){
    .form1 .form-control{ padding: 6px 12px; height: 45px; }
    .form1 .password .form-control{ padding-left: 40px; }
    .form1 .password button{ left: 12px; }
}

/* date-picker */
.date-picker{ position: relative; }
.date-picker .form-control{ -webkit-appearance: none; -moz-appearance: none; appearance: none; padding-left: 45px; }
.date-picker .ui-datepicker-trigger{ position: absolute; left: 19px; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); width: 20px; cursor: pointer; }

@media(max-width: 767px){
    .date-picker .form-control{ padding-left: 35px; }
    .date-picker .ui-datepicker-trigger{ left: 12px; }
}

/* selectbox */
.selectbox{ position: relative; }
.selectbox .form-control{ -webkit-appearance: none; -moz-appearance: none; appearance: none; padding-left: 40px; }
.selectbox::after{ content: ''; background: url('../images/angle-down.svg') no-repeat center; background-size: 100%; width: 16px; height: 10px; position: absolute; left: 21px; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); pointer-events: none; }

@media(max-width: 767px){
    .selectbox .form-control{ padding-left: 30px; } 
    .selectbox::after{ left: 10px; }  
}

/* radio1 */
.radio1{ position: relative; padding-right: 31px; }
.radio1 input{ position: absolute; opacity: 0; pointer-events: none; }
.radio1 input:checked ~ .inner::before{ background: #ce8a29; }
.radio1 .inner::before{ content: ''; width: 19px; height: 19px; border-radius: 100px; outline: 1px solid #525355; border: 4px solid #ffffff; position: absolute; right: 0px; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }
.radio1 .inner{ width: 45px; height: 45px; text-align: center; line-height: 40px; display: inline-block; background: #ecedf2; border-radius: 4px; }
.radio1 .inner img{ height: 25px; }

@media(max-width: 767px){
    .radio1{ padding-right: 25px; }
    .radio1 .inner{ width: 40px; height: 40px; line-height: 40px; }
    .radio1 .inner::before{ width: 15px; height: 15px; border-width: 3px; }
    .radio1 .inner img{ height: 18px; }
}

/* file-upload */
.file-upload{ position: relative; }
.file-upload input{ position: absolute; opacity: 0; pointer-events: none; }
.file-upload .inner{ width: 114px; height: 100px; text-align: center; line-height: 100px; background: #ecedf2; color: #393939; border-radius: 4px; font-size: 50px; cursor: pointer; }

@media(max-width: 767px){
    .file-upload .inner{ width: 80px; height: 70px; line-height: 70px; font-size: 40px; }
}

/* table1 */
.table1{ -webkit-box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.13); box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.13); overflow: hidden; border-top-right-radius: 10px; border-top-left-radius: 10px; overflow-x: auto; -webkit-overflow-scrolling: touch; }
.table1 .table{ width: 100%; min-width: 1100px; }
.table1 thead td{ background: #373737; padding: 18px 30px; font-size: 16px; font-weight: 500; color: #ffffff; }
.table1 tbody td{ padding: 12px 30px; border-bottom: 0px; font-size: 15px; color: #373737; }
.table1 tbody tr:nth-child(odd) td{ background: #f8f9fe; }
.table1 tbody tr:nth-child(even) td{ background: #ecedf2; }

@media(max-width: 1199px){
    .table1 .table{ min-width: 850px; }
    .table1 thead td{ padding: 12px 15px; font-size: 14px; }
    .table1 tbody td{ padding: 12px 15px; font-size: 13px; }
}

@media(max-width: 767px){
    .table1 thead td,
    .table1 tbody td{ padding: 12px; }
    .table1 tbody td:nth-child(2){ width: 20%; }
}

/* user-options */
.user-options{ list-style: none; padding-right: 0px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-right: -5px; margin-left: -5px; }
.user-options li{ padding: 0px 5px; }
.user-options .option{ width: 26px; height: 26px; display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; background: #373737; border-radius: 100px; -webkit-transition: all .5s cubic-bezier(0.19, 1, 0.22, 1) 0s; -o-transition: all .5s cubic-bezier(0.19, 1, 0.22, 1) 0s; transition: all .5s cubic-bezier(0.19, 1, 0.22, 1) 0s; }
.user-options .option:hover{ background: #ce8a29; }
.user-options .option img{ height: 14px; }

/* toggle1 */
.toggle1{ cursor: pointer; }
.toggle1 input{ position: absolute; opacity: 0; visibility: hidden; }
.toggle1 input:checked ~ .slider{ background: #ce8a29; }
.toggle1 input:checked ~ .slider::before{ -webkit-transform: translateY(-50%) translateX(-16px); -ms-transform: translateY(-50%) translateX(-16px); transform: translateY(-50%) translateX(-16px); }
.toggle1 .slider{ width: 40px; height: 24px; border-radius: 100px; display: inline-block; vertical-align: middle; background: #373737; position: relative; -webkit-transition: all .5s cubic-bezier(0.19, 1, 0.22, 1) 0s; -o-transition: all .5s cubic-bezier(0.19, 1, 0.22, 1) 0s; transition: all .5s cubic-bezier(0.19, 1, 0.22, 1) 0s; }
.toggle1 .slider::before{ content: ''; width: 20px; height: 20px; border-radius: 100px; background: #ffffff; position: absolute; right: 2px; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); -webkit-transition: all .5s cubic-bezier(0.19, 1, 0.22, 1) 0s; -o-transition: all .5s cubic-bezier(0.19, 1, 0.22, 1) 0s; transition: all .5s cubic-bezier(0.19, 1, 0.22, 1) 0s; }

/* pagination */
.pagination{ margin-right: -4px; margin-left: -4px; }
.pagination li{ padding: 4px; }
.pagination .page-number{ display: inline-block; background: #ecedf2; border: 1px solid #525355; border-radius: 2px; font-size: 15px; font-weight: 500; width: 26px; height: 26px; line-height: 26px; text-align: center; color: #373737;  }
.pagination .page-number:hover,
.pagination .current .page-number{ background: #525355; color: #ffffff; }

.icon1{ display: inline-block; background: #525355; width: 53px; height: 50px; text-align: center; line-height: 50px; }
.icon1 img{ height: 21px; }

#main-navigation .menu > li:nth-child(2) > a, #main-navigation .menu > li:nth-child(3) > a, #main-navigation .menu > li:nth-child(5) > a, #main-navigation .menu > li:nth-child(7) > a { pointer-events:none; }
.page-numbers .fa-angle-right:before {content: "\f104"; }
.page-numbers .fa-angle-left:before { content: "\f105"; }

/* custom-selectbox */
.custom-selectbox{ position: relative; }
.custom-selectbox .chosen-container .chosen-choices { background: transparent; border: 0px; padding: 10px 19px; -webkit-box-shadow: none !important; box-shadow: none !important; }
.custom-selectbox .chosen-container-multi .chosen-choices li.search-field input[type=text]{ font-size: 13px; }
.custom-selectbox .chosen-container-multi .chosen-choices li.search-choice{ background: #000000; border-radius: 4px; border: 0px; color: #ffffff; font-size: 15px; -webkit-box-shadow: none; box-shadow: none; padding-top: 7px; padding-bottom: 7px; }
.custom-selectbox .chosen-container-multi .chosen-choices li.search-choice .search-choice-close{ top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }
.custom-selectbox .chosen-container-multi .chosen-choices li.search-choice .search-choice-close::before{ content: '\2A09'; font-size: 15px; line-height: .7; color: #ffffff; display: inline-block; }
.date-field { padding-bottom: 45px; position:relative; }
.date-field .date-picker { margin-bottom:15px; }
.date-field .date-picker + button { position: absolute; bottom: -12px; left: 10px; font-size: 12px; }
.date-field .date-picker + button span { font-size: 25px !important; }
.date-field .date-picker button { display:none; }
/* Added by Shemy */
.select2-container { width: 100% !important;}
.select2-container--default .select2-selection--single {height: 50px!important;border-radius: 2px!important;border: 1px solid #525355!important;color: #525355!important;font-size: 13px!important;padding: 10px 19px!important;}
.select2-container--default .select2-selection--single .select2-selection__arrow b {top: 20px !important; display: none;}
