/*
Theme Name:  Hotstone Fitness
Description: Hotstone Fitness wp theme
*/
.lang a { font-family: 'NouvelR', sans-serif; }
.lang.current { display:none !important; }
.box1 + .button-group.mb-30 { display:none !important; }
.page-template-login #header { padding: 49px 0px; }
.page-template-login #header button { display:none; }
.map iframe { width:100%; height:100%; }
/* .form1 .form-control + label { display:none !important; } */
.form1 .form-control.error { border-color:red; }
.user-options .option i { color:#fff; }
.page-template-admin-front-office-user #main-navigation .menu > li:nth-child(2) li:nth-child(1) a, .page-template-admin-customer #main-navigation .menu > li:nth-child(2) li:nth-child(2) a, .page-template-admin-trainer #main-navigation .menu > li:nth-child(2) li:nth-child(3) a { color: #373737; font-weight:bold; }
.page-template-admin-membership-type #main-navigation .menu > li:nth-child(3) li:nth-child(1) a, .page-template-admin-subscriptions #main-navigation .menu > li:nth-child(3) li:nth-child(2) a { color: #373737; font-weight:bold; }
.page-template-admin-workouts #main-navigation .menu > li:nth-child(4) a, .page-template-admin-measurement #main-navigation .menu > li:nth-child(6) a{ color: #373737; font-weight:bold; }
.page-template-admin-class #main-navigation .menu > li:nth-child(5) li:nth-child(1) a , .page-template-admin-bookings #main-navigation .menu > li:nth-child(5) li:nth-child(2) a { color: #373737; font-weight:bold; }
.page-template-admin-notifications #main-navigation .menu > li:nth-child(7) li:nth-child(2) a{ color: #373737; font-weight:bold; }
label.error { font-size:12px !important; color:red !important; }
/* .file-upload img { max-width:100px; }  */
/* .file-upload .attachment-name { display: block; } */
.file-upload .inner { margin-bottom:10px; }
.file-upload .attachment-name img { max-width: 100px; margin-left: 10px; vertical-align: top; }
.ui-datepicker td a { pointer-events:none !important; cursor:pointer; }
#main #content { position:relative; }
.file-upload .attachment-name .file-name { max-width: 200px; text-overflow: ellipsis; display: inline-block; overflow: hidden; line-height: 1.4; }
#loader { position: fixed; top: 0; right: 0; height: 100%; width: 100%; background: rgba(0,0,0,.8) url("https://hotstone.ourdemo.online/wp-content/uploads/2022/09/loader1.gif") center center no-repeat; z-index: 100000; display:none; background-size: 50px; }
#view-log p.mb-5 { margin-bottom: 1rem!important; }
.form1 .form-control .chosen-select + label {
    display: none !important;
}

@media (max-width:575px) {
	#container { overflow:hidden; }
}

.file-upload img {
    max-width: 114px;
    position: absolute;
    height: 100px;
    margin-right: 10px;
}